* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "Helvetica Neue", Arial, sans-serif;
  background-color: white;
  color: #202020;
  height: 100vh;
  width: 100vw;
  justify-content: center;
  align-items: center;
}

main {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  width: 100%;
  padding: 2% 8%;
  height: 65%;
}

header {
  position: relative;
  height: 10vh;
  padding: 5% 8%;
  font-weight: 500;
  display: flex;
  justify-content: space-between;
}

header ul {
  list-style-type: none;
  display: flex;
  flex-direction: row;
  font-size: 1.2rem;
}

header ul li {
  padding-left: 1rem;
}

a {
  text-decoration: none;
  color: inherit;
}
a:visited {
  color: rgb(10, 82, 124);
}

.line {
  position: relative;
  border-left: 1px solid black;
  transform: translateX(-50%);
  transform: rotate(35deg);
  height: 100%;
  right: 3rem;
}
.content {
  width: 60%;
}

.content .numbered-title {
  font-size: 7rem;
  font-family: "Protest Guerrilla", sans-serif;
}

.content .subtitle {
  font-size: 1rem;
  font-style: oblique;
  color: slategray;
}

.social {
  position: relative;
  list-style-type: none;
  padding-top: 2rem;
  display: flex;
  flex-direction: row;
  font-size: 1.2rem;
}

.social li:first-child {
  padding-right: 1rem;
}

.portfolio-container {
  display: flex;
  flex-direction: row;
  align-items: center;
  width: 50%;
  padding-top: 10rem;
}

.intro {
  text-align: left;
  min-width: 40%;
  margin-top: 3rem;
}

.intro h1 {
  font-size: 1.5rem;
  margin-bottom: 0.2rem;
}

.intro p {
  line-height: 1.4;
}

.intro .name {
  font-size: 1.2rem;
  font-weight: 800;
}

.year {
  margin-top: 0.5rem;
  font-size: 0.85rem;
  color: gray;
}

.portfolio-title {
  font-family: "Protest Guerrilla", sans-serif;
  font-weight: 600;
  font-style: normal;
  letter-spacing: 0.05em;
  line-height: 0.85;
  text-align: left;
  margin-left: 4rem;
}

.portfolio-title span {
  display: block;
  text-transform: uppercase;
  font-size: 7rem;
  letter-spacing: 0.05em;
}